@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}
body{
    max-width: 1150px;
    margin: auto;
    /* height: 100vh; */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background: #35424a;
    color: #fff;
    /* min-height: 70px; */
  
   
    border-bottom: 3px solid #e8491d;


}
nav{
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
   
}
nav .list{
    display: flex;
    list-style: none;
}
nav .list .link-list a{
    display: inline block;
    text-decoration: none;
    color: #fff;
    padding: 5px 20px ;
    font-size: 22px;
}
nav .list .link-list a:hover{
    background-color: rgb(44, 144, 226);
   color: #fff;
    border-radius: 20px;
    transition: background 500ms ease-out
    
}
 .nik {
    color: #e8491d;
}
header #branding{
    font-size: 1.2rem;
    cursor: pointer;
}
#showcase{
    display: flex;
    align-items: center;
    background: url('image/po.jpg') no-repeat center center/cover;
    height: 60vh;
}
#showcase h1{
   text-align: center;
   font-size: 3rem;
   color: rgba(255, 255, 255, 0.904);
   font-weight: 700;
   cursor: pointer;
}
#showcase h2{
    text-align: center;
    color: rgba(255, 255, 255, 0.904);
    padding-top: 10px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
}
.web{
    color: #0b0c0c;
}
#showcase-1{
    text-align: center;
    height: 30vh;
    align-items: center;
    
    
    background-color: rgb(236, 234, 231);
}
#showcase-1 h2{
    text-transform: uppercase;
    margin-top: 1rem;
}

#showcase-1 p{
    margin-top: 1rem;
}
.btn{
    padding: 7px;
    margin: 3px;
    font-size: 15px;
    /* background-color: coral; */
    /* color: #fff; */
}
.btn:hover{
    background-color: #fff;
    color: rgb(33, 135, 236);
    transition: background 500ms ease-in-out;
    border: 2px solid;
}
#showcase-2{
    text-align: center;
    height: 30vh;
    align-items: center;
    background-color: rgb(236, 234, 231);
}
#showcase-2 h2{
    text-transform: uppercase;
    margin-top: 1rem;
}

#showcase-2 p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.button{
    color: #0a64ca;
    text-decoration: none;
    margin: 3px;
    border: 1px solid steelblue;
    padding: 8px 20px;

    font-size: 18px;
}
.button:hover{
    background-color: #0a64ca;
    color:#fff;
    transition: background 500ms ease-in;
}
footer{
   text-align: center;
    align-items: center;
    background: #35424a;
    border-top: 3px solid #e8491d;
    /* height: 10vh; */
}
footer h2{
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 10px;
  text-transform: capitalize;
}

footer a{
  font-size: 2rem;
  color: #0a64ca;
  margin: 10px;
  padding-top: 20px;

}
@media (max-width:600px){
    nav{
       width: 100%;
       flex-direction: column;
       height: 90px;
    }
   
}